// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

.hero-title {
  font-size: 2rem;
  margin-top: 0;
  line-height: 1; }

.hero-lead {
  max-width: 768px;
  font-size: 1rem; }

h1 {
    font-size: 1.6rem;
}

.featured-image {
    position: relative;
    width: 150px;
    display: block;
    //position: relative;
    //width: 150px;
    //display: block;
    //margin-right: 15px;
    //float: left;
}


